# .htaccessの保護
<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>

# ディレクトリブラウジングの禁止
Options -Indexes

# wp-login IP制限
<Files wp-login.php>
Order deny,allow
Deny from all
Allow from 00.00.00.00
Allow from 00.00.00.00
Allow from 00.00.00.00
</Files>

# configとcronの制限
<FilesMatch "^(wp-config\.php|wp-cron\.php)">
order allow,deny
deny from all
</FilesMatch>

# XML-RPCを無効化
<Files xmlrpc.php>
  Order Allow,Deny
  Deny from all
</Files>

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteRule ^index\.rdf$ /feed/rdf/ [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
